mixin style(url)
    link(rel="stylesheet", type="text/css", href=url)
    
mixin base()
    
    !!!
    
    html
        head
            meta(charset="utf8")
            title=title
            
            +style("/stylesheets/style.css")
            
        body
            
            if block
                block